body {
  background: #C5FFF8;
  font-family: sans-serif;
  color: #7B66FF;
}

main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-size: 0.9rem;
  background: #5FBDFF;
  padding: 1rem;
  color: white;
  cursor: pointer;
  border-radius: 15px;
}

footer {
  position: absolute;
  bottom: 0;
}
